a{
    margin: 0px 20px 20px 0px;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    margin: 20px 20px 20px 0px;
}

.btn-nav {
    background-color: lightgray;
}

.btn-nav:hover{
    background-color: lightblue;
}
