



.items {
    list-style: none;
}

.title{
    color: white;
    h1{
        font-weight: bold;
        font-size: 50px;
    }
}

.nav-bar {
    background-color: #4285F4;
    border-radius: 4px;
    a{
        padding-left:20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        color: white;
    }
    .active{
        color: orange;
        }
}

