<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Employee App Demo</title>
  <base href="/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <!--The content below is only a placeholder and can be replaced.-->
<div class="title">
    <h1>
      {{title}}
    </h1>
</div>
  <!--<app-test (childEvent)="message=$event" [parentData] ="name"></app-test> --> 
  <!-- [parentData] component interaction property name from parent app class
  
  <app-employee-list></app-employee-list>
  <br>
  <hr>
  <br>
  <app-employee-detail></app-employee-detail>-->

  <nav class="nav-bar">
      <a [routerLink]="['/list']" routerLinkActive="active" >Employee List</a>
      <a [routerLink]="['/employees']" routerLinkActive="active" >Employee Details</a>
  </nav>
  <router-outlet></router-outlet> <!-- Routed views go here -->
</div>
</body>
</html>

